.shopmenu-nav {
	background-color: #fafafa;
	 padding: 0;
    position: relative;
    color: #666;
    border-bottom: 1px solid #eee;
    height: 43px;
    margin: 0;
    width: 100%;
    z-index: 0;	
   
}
.nav ul h3 .icon:before{
    width: 180px;
    font-size: 51px;
    line-height: 51px;
    color: #ffffff;
}
.shopmenu {
 height: 43px;	
  z-index: -100;	
}
.shopmenu .shopmenu-nav .evalBtn{
	float: left;
    height: 43px;
    line-height: 39px;
    padding: 0 25px;
    width: 115px;
    border-right: 1px solid #eee;
    border-top: 3px solid transparent;
    color: #333;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    margin:0;
}
.shopmenu .shopmenu-nav .active{
	border-top: 3px solid #0089dc;
    border-bottom-color: #fff;
    background-color: #fff;
    color: #0089dc;
}
.shopmenu .evaluation{
	padding: 0 20px 20px 0;
}

.evaluation .evaluation-item{
	padding: 20px 0;
    margin-left: 130px;
    position: relative;
    border-bottom: 1px solid #eee;
    min-height: 100px;
    display: list-item;
    text-align: -webkit-match-parent;
}
.evaluation{
	background-color: white;
}
.user_img{
	position: absolute;
    left: -130px;
    width: 130px;
    text-align: center;
}
.user_img img{
	width: 60px;
    height: 60px;
    border-radius: 50%;
}
.eval-userName{
	margin-bottom: 5px;
}
.eval-main{
	margin-bottom: 20px;
}
.service-content{
	margin-top: 10px;
}
.speed-time{
	vertical-align: middle;
    color: #999;
}
.eval-start{
	display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.rate-start{
	margin: 0;
    padding: 0;
}
.rate-start a{
	font-size: 16px;
}
.icon-pingfenhui:before{
	font-size: 16px;
	cursor: default;
	margin-left: 3px;
	
}
.rate-text{
	margin-left: 3px;
    line-height: normal;
}
.eval-food{
	padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #f7f7f7;
}
.food-name{
	font-size: 14px;
}
.food-icon{
	display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.icon-item{
	padding: 0;
	margin: 0;
}
.icon-pingjia{
	cursor: default;
	margin-right: 3px;
}
.food-text{
	margin-left: 3px;
    line-height: normal;
}
.eval-time{
	position: absolute;
    top: 28px;
    right: 0;
    font-size: 12px;
    color: #999;
}
